*{/*universal css for whole page*/
    margin: 0px;/*takes the entire screen*/
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 80%;
    font-family: 'Koulen', cursive;
    padding: 34px;
    margin: auto;/*centralises the element*/
    font-size: 31px;
    
}
.container h1, p{
    text-align: center;
}

input, textarea{
    border: 1px solid black;
    font-size: 13px;
    width: 80%;/*length of the box*/
    margin: 11px;/*distance from the edge*/
    padding: 9px;/*increase box size*/
    border-radius: 15px;
    display: block;/*to bring the submit button down*/
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn{
    padding: 14px;
    background-color: rgb(131, 4, 91);
    border: 1px solid rgb(255, 255, 213);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
} 
.submitmsg{
    color: green;
}
.pay{
    padding:10px;
    background-color: rgb(10, 123, 23);
    border: 1px solid rgb(255, 255, 213);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}